main{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.main-header{
    display:flex; 
    justify-content:space-between;
    margin-top:14rem;
    /* padding-left: 7rem; */
    /* padding-right: 10rem; */
    /* width: 50rem; */
}
h2{
    text-align: center;
    color: yellowgreen;
    font-size: 2rem;
    /* margin-bottom:0px; */
}
h3{
    text-align: center;
    color: yellow;
    font-size: 3rem;
}

.round{
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid yellowgreen; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}

.img{
    /* margin-top:12rem; */
    padding-top:20px;
}